{% extends 'base.html.twig' %}


{% block main %}

<section>
    <a href="{{ path('admin_insert_article') }}">Ajouter un article</a>
</section>

<section class="articles">

    {% for article in articles %}

        {% if article.isPublished %}
            <article class="article">
                <h1>{{ article.title }}</h1>
                {% if article.category %}
                    <p>{{ article.category.title }}</p>
                {% else %}
                    <p>Pas de catégorie</p>
                {% endif %}
                <a href="{{ path('admin_article', {'id': article.id }) }}">Voir cet article
                <a href="{{ path('admin_update_article', {'id': article.id }) }}">Modifier cet article</a>
                <a href="{{ path('admin_delete_article', {'id': article.id }) }}">Supprimer cet article</a>
            </article>
        {% endif %}

    {% endfor %}
</section>

{% endblock %}
