<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}
        <title>Blog La Piscine</title>
    {% endblock %}
    <link rel="stylesheet" href="{{ asset('style.css') }}">
</head>
<body>

<header class="header-top">
    <ul class="nav-items">
        <li class="nav-item"><a class="nav-link" href="{{ path('home') }}">Accueil</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ path('admin_articles') }}">Articles</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ path('admin_list_categories') }}">Categories</a></li>
    </ul>
</header>

{% for message in app.flashes('success') %}
    <p class="message-success">{{ message }}</p>
{% endfor %}

{% for message in app.flashes('error') %}
    <p class="message-error">{{ message }}</p>
{% endfor %}

<main>

    {% block main %}
        <img src="https://static.actu.fr/uploads/2018/11/Chrsitine-Boutin-960x640.jpg" alt="">
    {% endblock %}

</main>

<footer>
    Je suis le footer, je fais du foot
</footer>

</body>
</html>

